<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<div class="profile-userpic">
					<img src="{{ userDetails.user.photoURL }}" class="img-responsive" alt="{{ userDetails.user.displayName }}">
				</div>
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{ userDetails.user.displayName }}
					</div>
					<div class="profile-usertitle-job">
						Developer
					</div>
				</div>
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm">Follow</button>
					<button type="button" class="btn btn-danger btn-sm">Message</button>
				</div>
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
								<i class="glyphicon glyphicon-home"></i>
								Overview  
							</a>
						</li>
						<li>
							<a href="#">
								<i class="glyphicon glyphicon-user"></i>
								Account Settings  
							</a>
						</li>
						<li>
							<a href="#" target="_blank">
								<i class="glyphicon glyphicon-ok"></i>
								Tasks  
							</a>
						</li>
						<li>
							<a href="#">
								<i class="glyphicon glyphicon-flag"></i>
								Help   
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-9">
            <div class="profile-content">   
				<div class="container">
	
				    
				    <div class="row">
				    
					    <div class="col-md-6">
							<div class="widget-area no-padding blank">
								<div class="status-upload">
									<form>
										<textarea placeholder="What are you doing right now?" ></textarea>
										<ul>
											<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Audio"><i class="fa fa-music"></i></a></li>
											<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Video"><i class="fa fa-video-camera"></i></a></li>
											<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Sound Record"><i class="fa fa-microphone"></i></a></li>
											<li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
										</ul>
										<button type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Share</button>
									</form>
								</div><!-- Status Upload  -->
							</div><!-- Widget Area -->
						</div>
				    </div>
				</div>
            </div> <!-- end profile content -->
		</div> <!-- end col-md-9 -->
	</div> <!-- end profile -->
</div> <!-- end container -->
